@media (max-width: 768px) {
    #what .items {
        display: block;
        padding: 1.1rem;
    }

    #what .items .item {
        display: flex;
        text-align: left;
    }

    #what .items .item i {
        margin-right: 1.5rem;
        align-self: center;
        margin-bottom: 0;
    } 
    
    #showcase .showcase-content {
        top: 89.24px;
    }

    .pay {
        font-size: 16px;
    }

    #main-footer .footer-container {
        grid-template-columns: 1fr;
    }

    #main-footer .footer-container > *:last-child {
        grid-column: 1;
    }
    
    #main-footer .footer-container > * {
        border-bottom: #444 dotted 1px;
        padding-bottom: 1rem;
    }
    
    #main-footer .footer-container > *:last-child,
    #main-footer .footer-container > *:nth-child(3),
    #main-footer .footer-container > *:nth-child(4) {
        border: none;
    }
}

/* SmartPhones */
@media (max-width: 500px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    #navbar .logo {
        text-align: center;
        margin-bottom: 0.5rem;
    }

    #navbar ul {
        margin: auto;
        padding: 0.4rem;
        font-size: 13px
    }
    
    #who {
        display: block;
    }

    #who .who-img {
        display: none;
    }

    #prop {
        display: block;
    }

    #prop .prop-img {
        display: none;
    }

    #clients .items img {
        width: 80%;
    }
    
    #clients .items div:last-child {
        display: none;
    }

    #contact {
        display: block;
    }

    #contact .map {
        height: 200px;
        border-top: 6px #333 solid;
    }

    .lad {
        width: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .laadaf {
        margin-left: -16px;
        width: 65px;
    }

    .l-heading {
        font-size: 2.8rem;
    }
    
    #showcase .showcase-content {
        top: 129.26px;
    }

    #showcase {
        margin-top: -58px;
    }

    .L-Font {
        font-size: 16px;
        margin-top: -6px;
    }

    .slider {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    #gallery {
        display: block;
    }

    .current {
        margin-left: 20px;
    }

    .slider {
        width: 98%;
        margin: auto;
    }

    .donations {
        width: 98%;
        margin: auto;
        font-size: 15px
    }
}

@media (max-height: 568px) {
    #showcase .showcase-content {
        margin-top: -1rem;
    }

    .l-heading {
        font-size: 3rem;
    }

    .lead {
        font-size: 1rem;
    }
}