@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
     
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}

/* Utility Classes */
.container {
    max-width: 1400px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: #93cb52;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}
.bg-dark {
    background: #333;
    color: #fff;
}

.bg-primary {
    background: #93cb52;
    color: #fff;
}

.l-heading {
    font-size: 3.7rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
} 
.m-heading {
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
} 

.py-1 { padding: 1.5rem 0;}
.py-2 { padding: 2rem 0;}
.py-3 { padding: 3rem 0;}

.p-1 { padding: 1.5rem;}
.p-2 { padding: 2rem;}
.p-3 { padding: 3rem;}

.lead {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-block;
    color: #fff;
    background: #93cb52;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
}

.list {
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
    padding: 0.5rem 0;
    border-bottom: #444 dotted 1px;
}

.btn:hover {
    background: #7ab436;
}

.btn-dark {
    background: #333;
    color: #fff;
}

#navbar {
    display: flex;
    background: #333;
    color: white;
    position: sticky;
    top: 0;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navbar ul {
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a {
    color: white;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background: #93cb52;
    border-radius: 5px;
}

/* Header: Showcase */
#showcase {
    background: #333 url("../img/jonathan-gonzalez-kk-Wa2xMxhY-unsplash.jpg") no-repeat center center/cover;
    height: 100vh;
    color: white;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /* Overlay */
    position: absolute;
    top: 90.24px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}

/* Section: What We DO */
#what .items {
    display: flex;
    padding: 1rem;
}
#what .items .item {
    flex: 1;
    text-align: center;
    padding: 1rem;
}
#what .items .item i {
    background: #93cb52;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Section: Who We Are */
#who {
    display: flex;
}

#who div {
    flex: 1;
}

#who .who-img {
    background: url(../img/people.jpg) no-repeat center center/cover;
}

/* Section: The Proprietor */

#prop {
    display: flex;
    border-top: #fff 2px double;
}

#prop div {
    flex: 1;
}

#prop .prop-img {
    background: url(../img/DrMrsOlowoleni2_2_30_3_1180x750.jpg) no-repeat center center/cover;
}

/* Section: Clients */
#clients .items {
    display: flex;
}

#clients .items img {
    display: block;
    margin: auto;
    width: 60%;
}

/* Section: Contact Us */
#contact {
    display: flex;
    margin-top: 7px;
}

#contact .map, #contact .form-group {
    flex: 1;
}

#contact .contact-form .form-group {
    margin: 0.75rem;
}

#contact .contact-form .form-group label {
    display: block;
}

#contact .contact-form input, textarea{
    width: 100%;
    padding: 0.5rem;
}
  
.laadaf {
    display: block;
    margin: auto;
    width: 75px;
    margin-left: 35px;
}

.L-Font {
    color: #f4f4f4;
    margin-top: 15px;
}

.lad {
    width: 10%;
    display: flex;
    justify-content: space-between;
}

#gallery {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}

#gallery div {
    flex: 1;
}

/* #gallery div:first-child {
    flex: 2;
} */

.slider {
    position: relative;
    width: 41%;
    overflow: hidden;
}

.images {
    display: flex;
    width: 100%;
}

.images img {
    height: 400px;
    width: 100%;
    transition: all 0.5s ease;
}

.images input {
    display: none;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: -30px;
}

.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #7ab436 3px;
    cursor: pointer;
    transition: all 0.5s ease;
    margin: 5px;
}

.dots label:hover {background: #7ab436;}

#img1:checked ~ .m1 {
    margin-left: 0;
}

#img2:checked ~ .m2 {
    margin-left: -100%;
}

#img3:checked ~ .m3 {
    margin-left: -200%;
}

#img4:checked ~ .m4 {
    margin-left: -300%;
}

.donations {
    font-size: 17px;
}

.donations-p {
    font-weight: bold;
    font-size: 20px;
}

.current {
    margin-left: 40px;
}

/* footer */
#main-footer img {
    width: 150px;
}

#main-footer a {
    color: #fff;
}

#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

#main-footer .footer-container > *:last-child {
    background: #444;
    grid-column: 1 / span 4;
    padding: .5rem;
    text-align: center;
    font-size: 0.75rem;
}

#main-footer .footer-container input[type='email'] {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: .5rem;
}

#main-footer .footer-container input[type='submit'] {
    width: 90%;
}

.young {
    margin-top: -5px;
    font-size: 12px;
    margin-left: 9px;
    font-style: italic;
}

.lenad {
    font-size: 16px;
}


